.git
.next
node_modules
coverage
build
out

.env
.env.*
*.pem

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

*.tsbuildinfo
next-env.d.ts

RaidReminder.zip
tmp-*.png
scripts/__pycache__/
